<html>
  <head>
  	<style>
		p {
		 font-size: 14px;
		 font-family: Verdana, Geneva, sans-serif;
		}
  	</style>
  </head>
  <body>
  	<center>
    <p>PassableDesktop</p>
    <p>
      Developed by Micah Silverman<br/>
      Copyright 2014<br/>
      <a href="#" onclick="Ti.App.fireEvent('open_url', {url: 'http://afitnerd.com'})">http://afitnerd.com</a>
    </p>
    <p>
      Javascript Sha1 implementation<br/>
      by Paul Johnston, et al.<br/>
       <a href="#" onclick="Ti.App.fireEvent('open_url', {url: 'http://pajhome.org.uk/crypt/md5'})">http://pajhome.org.uk/crypt/md5</a>
    </p>
    <p>
      Original idea by Brad Tilley<br/>
      16 Systems<br/>
      <a href="#" onclick="Ti.App.fireEvent('open_url', {url: 'http://16s.us/sha1_pass/'})">http://16s.us/sha1_pass/</a>
    </p>
    <p>
      Memorizing lots of passwords sucks.<br/>
      Writing down passwords sucks.<br/>
      Using the same password sucks.<br/>
      Server side password solutions suck.<br/>
      Two factor authentication is expensive.<br/>
      And, therefore, sucks.
    </p>
    <p>
      How it works:<br/><br/>
      
	  With Passable, you remember a long secret phrase that only you know. Something like:<br/><br/>
	
	  The rain in spain falls mainly on the plain<br/>
	  (But make up your own)<br/><br/>

      Whenever you need a password, you use an account nickname. For instance, for a gmail account, the identifier might be:<br/><br/>

	  gmail bob<br/>
	  (But make up your own)<br/><br/>

	  Passable generates a very strong password which is copied to the clipboard. You don’t even need to look at the generated password 
	  (although you can). You just paste it in where you need it.<br/><br/>
	  
	  Every site you use gets a different password without you having to remember different passwords for every site.
    </p>
    <p>
      Check out <a href="#" onclick="Ti.App.fireEvent('open_url', {url: 'http://16s.us/sha1_pass/'})">http://16s.us/sha1_pass/</a> for a more technical explanation.
    </p>
    <p><br/></p>
   </center>
  </body>
 </html>